<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.ihsg.demo">

    <application
        android:name=".TestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.def.DefaultPatternSettingActivity" />
        <activity android:name=".ui.def.DefaultPatternCheckingActivity" />
        <activity android:name=".ui.def.DefaultStyleActivity" />
        <activity android:name=".ui.simple.SimpleStyleActivity" />
        <activity android:name=".ui.simple.SimplePatternSettingActivity" />
        <activity android:name=".ui.simple.SimplePatternCheckingActivity" />
        <activity android:name=".ui.whole.WholeStyleActivity" />
        <activity android:name=".ui.whole.WholePatternSettingActivity" />
        <activity android:name=".ui.whole.WholePatternCheckingActivity" />
    </application>

</manifest>